<!-- Insert scripts NOT needed by stylesheets here -->
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    },
    options: {
      ignoreTags: ['script', 'noscript', 'style', 'textarea'],  // 제목 태그 제거
      processHtmlClass: "mathjax-process",
      processEscapes: true
    },
    svg: { fontCache: 'global' }
  };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>


