// Put your custom SCSS code here
/* 제목 크기 조정 */
.content h1, .markdown h1, div h1, p h1, span h1 { 
    font-size: 18px !important;  /* 기본 h1 크기 */
    font-weight: bold !important;
  }
  
.content h2, .markdown h2, div h2, p h2, span h2 { 
    font-size: 16px !important;  /* 기본 h2 크기 */
    font-weight: bold !important;
  }
  
.content h3, .markdown h3, div h3, p h3, span h3 { 
    font-size: 14px !important;  /* 기본 h3 크기 */
  }
  
.content h4, .markdown h4, div h4, p h4, span h4 { 
    font-size: 12px !important;  /* 기본 h4 크기 */
  }